h1 About "deverything"

p This application is a framework for job ticketing that was developed as a part of a university assignment in developing in html/css/js.

p It was built by Andrew Tobin and lives on 
  a(href="https://github.com/andrewtobin/deverything") Github.

