div.jumbotron
    h1 Welcome to deverything
    p An all-in-one development ticketing and management toolset.
    
div.container
    div.row
        div.col-md-4
            h2 Projects
            div.thumbnail
                p Open projects on deverything.
                d3bars(data='projects')
        div.col-md-4
            h2 My Tickets
            div.thumbnail
                p Tickets logged for you in the system.
        div.col-md-4
            h2 Latest Updates
            div.thumbnail
                p All the information that has happened on deverything.