div.jumbotron(ng-show="screen !== 'project'")
    h1 Welcome to deverything
    p An all-in-one development ticketing and management toolset.

div.container(ng-show="screen === 'main'")
    div.row
        div.col-md-12
            h2 Projects ({{ projects.length }})
    div.row.thumbnail(ng-repeat="p in projects track by $index", ng-click="selectProject(p)")
        div.col-md-offset-1.col-md-11
            h3 {{ p.name }} 
                small  {{ p.description }}
    div.row(ng-show="loggedin")
        div.col-md-12
            button.btn.btn-link(ng-click="screen = 'addproject'") Add a new project...

form.form-horizontal(role='form', ng-show="screen === 'addproject'")
    div.form-group
            label.col-sm-2.control-label Name
            div.col-sm-4
                input.form-control(type='text', placeholder='Name', ng-model='project.name')
    div.form-group
            label.col-sm-2.control-label Description
            div.col-sm-4
                input.form-control(type='text', placeholder='Description', ng-model='project.description')
    div.form-group
        div.col-sm-offset-2.col-sm-3
            button.btn.btn-primary(type='submit', ng-click='addProject(project)') Submit                
        div.col-sm-1
            button.btn.btn-danger(ng-click="screen = 'main'") Cancel

div.container(ng-show="screen === 'project'")
    div.row
        div.col-md-12
            h2(ng-click="projectScreen = 'main'") {{ selectedProject.name }}
    div.row.thumbnail(ng-repeat="t in tickets track by $index", ng-click="selectTicket(t)", ng-show="projectScreen === 'main'")
        div.col-md-offset-1.col-md-11
            h3 {{ t.name }} 
                small  {{ t.created | date:'short' }}
    div.row(ng-show="loggedin && projectScreen === 'main'")
        div.col-md-12
            button.btn.btn-link(ng-click="addTicket()") Add a new ticket...
    form.form-horizontal(role='form', ng-show="projectScreen === 'ticket'")
        div.form-group
                label.col-sm-2.control-label Name
                div.col-sm-4
                    input.form-control(type='text', placeholder='Name', ng-model='ticket.name')
                label.col-sm-2.control-label Type
                div.col-sm-4
                    select.form-control(ng-model='ticket.type')
                        option(value="bug") Bug
                        option(value="issue") Issue
                        option(value="feature") Feature
        div.form-group
            div.col-sm-4
                label Requested By: {{ ticket.creator.name }}
        div.form-group
            div.col-sm-4
                label Details:
        div.form-group
            div.thumbnail#writeSurface(contenteditable="true", ng-model="ticket.description", ng-keyup="keyPressed($event)", ng-click="keyPressed(null)")
        div.form-group
            div.col-sm-offset-2.col-sm-3
                button.btn.btn-primary(type='submit', ng-click='saveTicket()', ng-show="loggedin") Submit                
            div.col-sm-1
                button.btn.btn-danger(ng-click="projectScreen = 'main'", ng-show="loggedin") Cancel

            
script.
    $('.active').removeClass('active');
    $('#home').addClass('active');